*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('../fonts/DarkerGrotesque-Light.eot');
  src: url('../fonts/DarkerGrotesque-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DarkerGrotesque-Light.woff2') format('woff2'),
  url('../fonts/DarkerGrotesque-Light.woff') format('woff'),
  url('../fonts/DarkerGrotesque-Light.ttf') format('truetype'),
  url('../fonts/DarkerGrotesque-Light.svg#DarkerGrotesque-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@mixin style($f,$c,$t,$ff,$fv,$l){
  font-size: $f;
  color: $c;
  text-transform: $t;
  font-family: $ff;
  font-weight: $fv;
  letter-spacing: $l;
}
@mixin par($f,$c,$fv,$m,$ff){
  font-size: $f;
  color: $c;
  font-weight: $fv;
  margin-bottom: $m;
  font-family: $ff;
}
%pad{
  padding: 100px 0;
}
.container{
  max-width: 1140px;
  margin: auto;
}
.info_servises{
  text-align: center;
}
header{
  background: url(../images/bg_01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 55px 0 270px;
  .head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 260px;
    nav{
      max-width: 530px;
    }
    ul{
      display: flex;
      li{
        list-style: none;
        margin-left: 30px;
        a{
          color: #fff;
          font-size: 14px;
          text-decoration: none;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
  .title{
    max-width: 580px;
    margin: auto;
    text-align: center;
    h1{
      color: #fff;
      font-size: 48px;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-family: 'Darker Grotesque';
      letter-spacing: 5px;
    }
    .info_title{
      font-size: 25px;
      color: #fff;
      margin-bottom: 50px;
      text-transform: uppercase;
      font-family: 'Darker Grotesque';
      font-weight: 300;
    }
    a{
      border: white solid 2px;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 100;
      text-decoration: none;
      padding: 15px 33px;
    }

  }
}
.servises{
  @extend %pad;
  background-color: #fff;
  .info_servises{
    h3{
      @include style(20px,#555,uppercase, Darker Grotesque, bold, 2px);
      &:after{
        content: "";
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 70px;
        height: 2px;
        background-color: #555;
      }
    }
    .paragraf_info{
      @include par(20px,#555,300,70px,Darker Grotesque)

    }

  }
    .icon_info{
      display: flex;
      max-width: 1130px;
      margin: auto;
      justify-content: space-between;
      .icon_item{
        max-width: 350px;
        text-align: center;
         i{
           color: #c0301c;
           font-size: 40px;
           padding: 25px;
           border-radius: 100%;
           border: 1px solid #ddd;
           margin-bottom: 27px;
           &:hover{
             color: white;
             background-color: #c0301c;
           }
         }
        .title_icon{
          font-size: 14px;
          color: #555;
          text-transform: uppercase;
          margin-bottom: 27px;
        }
        .title_text_icon{
          font-size: 14px;
          color: #555;
          line-height: 25px;
        }

      }
    }
}
.foto_piple{
  background-color: #f8f8f8;
  @extend %pad;
  h3{
    @include style(20px,#555,uppercase, Darker Grotesque, bold, 2px);
    &:after{
      content: "";
      display: block;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 70px;
      height: 2px;
      background-color: #555;
    }
  }
  .paragraf_info{
    @include par(20px,#555,300,70px,Darker Grotesque)

  }
  .paragrafs{
    max-width: 1130px;
    margin: auto;
    margin-bottom: 27px;
    .piple_paragraf{
      max-width: 540px;
      display: inline-block;
      color: #555555;
      font-size: 14px;
    }

  }
  .foto_manager{
    max-width: 1130px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .manager{
      max-width: 260px;
      position: relative;
      z-index: 1;
      img{
        width: 100%;
        margin-bottom: 20px;
        display: inline-block;
      }
      .opacity{
        background-color: #888;
        opacity: 0;
        width: 100%;
        height: 250px;
        position: absolute;
        z-index: 2;
        top: 0;
      }
      &:hover .opacity{
        opacity: 60%;
      }
      .name_manager{
        color: #555555;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 12px;
      }
      .status_manager{
        color: #555555;
        font-size: 13px;
      }
    }
    .social{
      position: absolute;
      top: 60%;
      left: 20%;
      z-index: 3;
      a{
        color: white;
        margin: 0 10px;
        font-size: 20px;
        &:hover{
          border: #c0301c solid 1px;
          padding: 6px;
          background-color: #c0301c;
          transition: .3s;
        }
      }
    }
  }

}
 .galery{
   @extend %pad;
   text-align: center;

   h3{
     @include style(20px,#555,uppercase, Darker Grotesque, bold, 2px);
     &:after{
       content: "";
       display: block;
       margin: auto;
       margin-top: 30px;
       margin-bottom: 30px;
       width: 70px;
       height: 2px;
       background-color: #555;
     }
   }
   nav{
     max-width: 410px;
     margin: auto;
     margin-bottom: 65px;
   }
   ul{
     display: flex;
     justify-content: space-between;

     li{
       list-style: none;
       a{
         text-decoration: none;
         color: #555;
         &:hover{
           color: #c0301c;
         }
       }
     }
   }
   .images{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;

     .galery_img{
       max-width: 360px;
       margin-bottom: 25px;
       position: relative;
       z-index: 1;
       img{
         width: 100%;
       }
       .opacity{
         background-color: rgba(198, 102, 92, 0.80);
         opacity: 0;
         width: 100%;
         height: 320px;
         position: absolute;
         z-index: 2;
         top: 0;
         color: white;
         padding: 107px 0;
         transition: .3s;
         .title_opacity{
           font-size: 18px;
           margin-bottom: 12px;
           opacity: 100%;
         }
         .info_opacity{
           font-size: 12px;
           margin-bottom: 12px;
         }
       }
       &:hover .opacity {
         opacity: 100%;

       }

     }
     a{
       text-transform: uppercase;
       font-size: 14px;
       color: #c0301c;
       background-color: #fff;
       padding: 10px 17px;
       text-decoration: none;
       display: inline-block;
       border-radius: 2px;
     }
   }
 }
 .paralax{
   background-image: url("../images/bg-paralax.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   padding: 80px 0;
   .container_paralax{
     max-width: 460px;
     margin: auto;
     text-align: center;
     p{
       font-family: 'Darker Grotesque';
       color: #fff;
       font-size: 30px;
       font-weight: 700;
       span{
         text-transform: uppercase;
       }
     }
     a{
       color: #fff;
       text-transform: uppercase;
       font-size: 18px;
       padding: 12px 22px;
       border: white 2px solid;
       text-decoration: none;
       display: inline-block;
       margin-top: 15px;
     }
   }
 }
 .recent{
   @extend %pad;
   .info_servises{
     margin-bottom: 70px;
     h3{
       @include style(20px,#555,uppercase, Darker Grotesque, bold, 2px);
       &:after{
         content: "";
         display: block;
         margin: auto;
         margin-top: 30px;
         margin-bottom: 30px;
         width: 70px;
         height: 2px;
         background-color: #555;
       }
     }
     .paragraf_info{
       @include par(20px,#555,300,70px,Darker Grotesque)

     }
   }
   .project{
     display: flex;
     justify-content: space-between;
     padding: 37px 0;
     .img_startap{
       max-width: 460px;
       img{
         width: 100%;
       }
     }
     .text_project{
       max-width: 640px;
       text-align: left;
       .data_info_project{
         margin-bottom: 25px;
         text-align: left;
         .data{
           color: #555555;
           font-size: 35px;
           line-height: 20px;
           padding: 20px;
           border: 2px solid #555;
           display: inline-block;
           margin-right: 25px;
           span{
             font-size: 20px;
             letter-spacing: 2px;
             text-transform: uppercase;
           }
         }
         .info_project{
           display: inline-block;
           h4{
             color: #c0301c;
             text-transform: uppercase;
             font-size: 25px;
             font-weight: bold;
             font-family: 'Darker Grotesque';

           }
           .coment{
             font-family: 'Darker Grotesque';
             font-size: 18px;
             text-align: left;
             span{
               color: #c0301c;
             }
           }
           .two_title_project{
             color: #555555;
           }
         }
       }
       a{
         color: #555555;
       }
     }
     p{
       text-align: left;
       line-height: 20px;
       font-size: 14px;
       color: #555555;
     }
     a{
       color: #c0301c;
       text-transform: uppercase;
       font-size: 14px;
       font-weight: bold;
       text-decoration: none;
       display: inline-block;
       margin-top: 30px;
     }


   }
   .first_project{
     border-bottom: #ddd 1px solid;
   }

 }
 .brands{
   background-color: #f8f8f8;
   @extend %pad;
   .container_brands{
     max-width: 900px;
     margin: auto;
     .logo_brands{
       margin: auto;
       display: flex;
       margin-bottom: 75px;
       justify-content: space-between;
       .brands_img{
         &:nth-child(2), &:nth-child(5){
           margin-top: -10px;

         }

       }
     }
     .cite{
       max-width: 760px;
       margin: auto;
       text-align: center;
       cite{
         color: #555555;
         font-family: 'Darker Grotesque';
         font-size: 18px;
         margin-bottom: 40px;
         display: inline-block;
         font-weight: bold;
         line-height: 25px;
       }
       .avtor{
         color: #555555;
         font-family: 'Darker Grotesque';
         font-size: 22px;
       }
     }
   }
 }
.get{
  @extend %pad;
  h3{
    @include style(20px,#555,uppercase, Darker Grotesque, bold, 2px);
    &:after{
      content: "";
      display: block;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 70px;
      height: 2px;
      background-color: #555;
    }
  }
  .paragraf_info{
    @include par(20px,#555,300,70px,Darker Grotesque)

  }
  .contacts_form{
      display: flex;
      justify-content: space-between;
    .contacts{
      .info_contacts {
        color: #888888;
        margin-bottom: 35px;
        .title_adres{
          font-size: 15px;
          margin-bottom: 15px;
          text-transform: uppercase;
          i{
            margin-right: 14px;
            font-size: 22px;
          }
        }
        .info_adress{
          margin-left: 30px;
          font-size: 15px;
          line-height: 20px;
        }
      }

    }
  }
  form{
    max-width: 730px;
    input{
      width: 40%;
      margin: 10px 20px 10px 0;
      border: #555555 solid 1px;
      padding: 15px;
      outline-color: #c0301c;
      text-transform: uppercase;
    }
    textarea{
      width: 83%;
      height: 130px;
      margin-top: 10px;
      outline-color: #c0301c;
      border: #555555 solid 1px;
      padding: 15px;
      text-transform: uppercase;
      margin-bottom: 18px;
      resize: none;
    }
    button{
      padding: 16px 30px;
      border: #555555 solid 1px;
      color: #555;
      background-color: #fff;
      text-transform: uppercase;
      margin-right: 35px;
    }
    p{
      display: inline;
      color: #888;
      span{
        color: #c0301c;
      }
    }
  }

}
footer{
  @extend %pad;
  background-color: #c0301c;
  color: white;
  .footer_container{
    max-width: 280px;
    margin: auto;
    text-align: center;
    .icon_footer{
      i{
        font-size: 18px;
        border: white 1px solid;
        border-radius: 50%;
        padding: 3px;
        margin: 0 4px;
      }
      &:after{
        content: "";
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 70px;
        height: 2px;
        background-color: #fff;
      }

    }
  }
  .text_footer{
    color: white;
    font-size: 12px;
  }
}